.mainDiv{
  /* background-color: #f3f3f3; */
  padding: 48px ;
  padding-bottom: 8rem;
}
.mainContainer{
  margin-top: 4rem;
}
.cardTitle{
  color: #000000;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 30px;
  /* line-height: 103%; */
  letter-spacing: 3%;
  max-width: 353px;
}
.cardText{
  color: #939393;
  font-family: 'Poppins';
  font-size: 13px;
  letter-spacing: 0%;
  line-height: 100%;
}
.mainCard{
  margin-top: 4rem;
}
.bottomDiv{
  border-bottom: 1px solid #FF330B;
}
@media (max-width: 576px) {
  .mainDiv{
    padding: 5px;
  }
}