.navbar{
  /* background-color: rgb(239, 240, 240); */
}
.customContainer{
  padding: 16px;
  padding-left: 48px;
  padding-right: 48px;
}
.customLink{
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  letter-spacing: 1.5%;
  line-height: 100%;
  font-family: "Poppins";
}
.customLink:hover{
  color: #000000;
}
@media (max-width: 576px) {
  .customContainer{
    padding: 16px;
    padding-left: 25px;
    padding-right: 25px;
  }
}