.customContainer{
  /* border: 2px solid red; */
  }
.customHeading{
  font-family: 'Poppins';
  font-size: 60px;
  font-weight: 400;
  color: #000000;
  line-height: 100%;
  letter-spacing: 1.5%;
  margin-top: 7rem;
  margin-bottom: 10rem;
}
.customRowOne{
 margin-bottom: 10rem;
}
.customRow{
  font-family: 'Poppins';
  font-size: 60px;
  font-weight: 400;
  color: #FF330B;
  line-height: 108%;
  letter-spacing: 3%;
}
.customPara{
  font-family: 'Poppins';
  font-size: 60px;
  font-weight: 400;
  color: #000000;
  line-height: 100%;
  letter-spacing: 1.5%;
  max-width: 71rem;
}

@media (max-width: 768px) {
  .customHeading{
    font-size: 44px;
  }
  .customRow{
    font-size: 45px;
  }
  .customPara{
    font-size: 39px;
  }
}

@media (max-width: 576px) {
  .customHeading{
    font-size: 34px;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
  .customRow{
    font-size: 35px;
  }
  .customPara{
    font-size: 30px;
  }
  .customRowOne{
    margin-bottom: 3rem;
   }
}

@media (max-width: 460px) {
  .customRow{
    font-size: 28px;
  }
  .customRowOne{
    padding: 8px;
  }
}

